body{
    margin: 0px 0px;
}

.top{
    background-color:darkolivegreen;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}


.btnMenu{
    background-color: blue;
    padding: 10px 20px;
    border: none;
    cursor: pointer;   
     
}

.tituloMenu{
    font-size: 45px;
    border: none;
    margin-top: 1px;
    margin-bottom: 1px;
    padding-right: 65%;
}

.menu-list{
    list-style: none;
    padding: 0;
    display: flex;
}

.menu-list li {
    margin-right: 15px;
    font-size: 20px;
}

.menu-list li a {
    text-decoration: none;
    color: #fff;
}

.menu-list li a:hover{
    text-decoration: underline;
}

.button{
    background-color: aquamarine;
    display: flex;
    width: 100px;
    height: 100px;
    padding: 5px;
    margin: 10px 10px 5px 20px;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;

}

a{
    text-decoration: none;
    color: inherit;
}

.menu-buttons{
    display: inline-flex;
    flex-wrap: wrap;
}

.button:hover{
    border: 5px solid black;
    cursor: pointer;
    padding: 0px;
}