* {
    margin: 0;
    padding: 0;
    border-spacing: 0px !important;
}

body {
    display: inline;
}
.area-dev {
    width: 49%;
    display: inline-block;
}

.area-infra {
    width: 49%;
    display: inline-block;
}

.group-cards {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}

.card {
    display: inline-block;
    background-color: brown;
    width: auto;
    height: 100%;
    padding: 20px 20px 20px 20px;
    margin: 0 15px 0 0px;
}

table.tr {
    border-bottom: 1px solid black;
}

.tabela-painel tr {
    display: table-row;
    border: 2px solid #000;
    border-spacing: 0px !important;
    text-align: center;
}

body > div.area-infra > table > thead {
    border-bottom: 2px solid #000 !important;
}

